h1{
    color: aliceblue;
}

body,html {
  background: url(https://images.unsplash.com/photo-1596726447615-563f8f9980af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

hr.new {
  border: 2px solid #FF9F9C;
  border-radius: 20px;
    max-width: 65px;
    
}

.buffer{
    height: 50px;
}


button.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    padding: 10px 20px;
     background-color: #FF9F9C;
}

button.btn:hover{
    padding: 1rem 3rem;
}